/* style.css */
.icon-40x40 {
    font-size: 30px;
    width: 40px;
    height: 40px;
    display: inline-block;
}
.fa-brands + .fa-solid {
    color: rgb(59, 91, 152);
    width: 40px;
    height: 40px;
}
.header-background {
    background: linear-gradient(to bottom, rgba(0,0,0,0) 70%, white), url("/Bilder/sky.png");
    background-size: cover;
    background-position: center;
    color: white;
    padding: 11% 0;
}
#about {
    padding-top: -50px;
}
#contact-form input, #contact-form textarea {
    margin: 0.6rem 1rem;
}
.header-background h1, .header-background p {
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.85);
}
#portfolio {
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(0,0,0,0) 60%, white), url("/Bilder/sand.png");
    background-size: cover;
    background-position: bottom;
    color: rgb(0, 0, 0);
    padding-bottom: 5rem;
    margin: 0px 5px;
    padding-top: 20px;
}
.portfolio-entry:nth-child(odd) {
    margin-left: 6%;
}
.portfolio-entry:nth-child(even) {
    margin-right: 6%;
}
.portfolio-entry:nth-child(odd):hover {
    background-color: orangered;
}
.portfolio-entry:nth-child(even):hover {
    background-color: greenyellow;
}
.absolute-right {
    position: absolute;
    right: 5px;
}
#contact {
    width: 100%;
    background: linear-gradient(to top, rgba(235, 235, 235, 0) 0%, rgba(235, 235, 235, 0.57) 40%, white), url("/Bilder/woods.png");
    background-size: cover;
    padding: 2rem 0;
    margin-top: 2rem;
}
footer {
    border-top: 5px solid #C0C0C0;
}

